*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
a{
   color: white;
    text-decoration: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper .sidenav{
    position: fixed;
    left: 0;
    top: 0;
    width: 20vw;
    height: 100vh;
    background-color: rgb(13, 13, 27);
}

.MainContent{
    width: 80vw;
    margin-left: 20vw;
}

.wrapper .sidenav ul li{
    list-style: none;
    padding: 15px;
    border-bottom: 1px solid rgb(0, 0, 0.1);
    border-top: 1px solid rgb(255,255,255,0.1);
}

section{
    height: 100vh;
    padding: 30px;
}
#portfolio{
    background: rgb(20, 20, 41);
}
#skills{
    background: rgb(32, 32, 65);
}
#education{
    background:  rgb(20, 20, 41);
}
#aboutme{
    background: rgb(32, 32, 65);
}
#contact{
    background: rgb(20, 20, 41);
}

.sidenav h1{
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}
#skills h1{
    color: white;
    text-align: center;
    margin: 10vh;
}

#skills div{
    display:  flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#skills div img{
    flex: 1;
    flex-wrap: nowrap;
    margin-left: 10vw;
    margin-right: 10vw;
}
#aboutme h1{
    color: white;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}
/*
#aboutme div{
    display: flex;
}
*/
img{
    vertical-align: top;
    max-width:100% ;
    max-height: 100%;
    float: left;
}

#aboutme p{
   
    color:  white;
    padding-left:  20px;
    display: inline-block;
}
.AboutMeText{
    text-align: justify;
    color: white;
    font-size: 20px;
    padding-left: 20px;
}
form{
    margin-top: 50px;
    transition: all 4s ease-in-out;
}

.formcontrol{
    width: 600px;
    background:  transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;
    
}
form .formcontrolsubmit{
    background: #1bb6ca;
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top:20px;
    width: 600px;
}

form .formcontrolsubmit:hover{
    background-color: #2926c3;
    cursor: pointer;
}

.contactform{
    text-align: center;
}
.portfolioItem{
    position: relative;
    width: 400px;
}
.image{
    display: block;
    width: 100%;
}

.imgOverlay{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    color: white;
    display: flex;
    flex-direction:  column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition:opacity 0.25s;
}

.imgOverlay>*{
    transform: translateY(20px);
    transition: transform 0.25s;
}
.imgOverlay:hover>*{
    transform: translateY(0);
}
.imgOverlay:hover{
    opacity: 1;
}
.imgTitle{
    font-size:  2em;
    font-weight: bold;
}

.ImgDiscripiton{
    margin-top: 0.5em;
}
#block{
    display:  inline-block;
    margin: 5vw;
}

#edText{
    display: inline;
    color: white;
    
}
#education{
    width: 80vw;
    margin-left: 20vw;
}
#aboutme{
    width: 80vw;
    margin-left: 20vw;
}
#contact{
    width: 80vw;
    margin-left: 20vw;
}
#skills{
    width: 80vw;
    margin-left: 20vw;
}